<!-- The Modal start -->
<div class="modal dialog" aria-hidden="true" id="dialog-g-<%= grammar._id %>">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 style="float: left;" class="modal-title">Grammar</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div style="clear:both;"></div>
			<!-- Modal body -->
			<div class="modal-body">
				<div class="col-md-24">

					<!-- Content -->
					<div class="form-group">
						<div class="form-group"><%= grammar.content %></div>
					</div>
					<!-- Input mean -->
					<div class="form-group">
						<div class="form-group"><%= grammar.mean %></div>
					</div>
					<!-- Input Use -->
					<div class="form-group">
						<div class="form-group"><%= grammar.use %></div>
					</div>
					<!-- Input Note -->
					<div class="form-group">
						<div class="form-group"><%= grammar.note %></div>
					</div>
					<div>
						<h4 style="float: left;" class="modal-title">Example</h4>
						<button style="float: right;"  data-toggle="modal" data-target="#dialog-g-example" class="btn btn-success m-b-15"
									data-type="prompt">Add Example</button>							
					</div>
					<div style="clear:both;"></div>

					<!-- Example table start -->
					<div style="width: 100%;
						height: 70px;										
						background-color: #dddddd;">
						<div style="float: left;padding: 8px;">
							<p style="color: red;">
								erwerwerwerwerwerwerwerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwerrrrrrrrrrrrrrrrrwerwerwer
							</p>
							<p>dsdsdsdsdwwwwrrrrrrrrrrrrwerwerwerwrrrrrrrrrrrrrrrrrrrrrrrrrrerweeeeeeeeeswerwer</p>
						</div>
						<div style="float: right; padding: 22px;">
							<button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
								hidden><i class="fa fa-pencil" aria-hidden="true"></i></button>
							<button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
								data-toggle="tooltip" data-original-title="Discard" hidden><i class="fa fa-times-circle"
									aria-hidden="true"></i></button>
						</div>
					</div>
					<!-- Example end -->
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- The Modal end -->
<!--  -->

<!--  -->