<% include ../header.ejs %>

<script>
	const userName = "<%= loggedUser.username %>"

	$(document).ready(function () {

		$('#provider').val(userName);

		$('.button-save').click(function(){
				  // action goes here!!
			var examples=$(this).data("value");
			$.each(examples, function( index, value ) {
  					alert( index + ": " + value.sentence);
            });
			 alert("Hello! I am an alert box!!"+$(this).data("value"));
		});
	});
</script>
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-2">
			<%  var menu = "add"; %>

			<% include menu.ejs %>
		</div>
		<!-- Main table start  -->
		<div class="col-md-10">
			<div class="container-fluid">
				<div class="block-header">
				</div>
				<div class="row clearfix">
					<div class="col-lg-12">
						<div class="card">
							<div class="body">
								<button data-toggle="modal" data-target="#myModal" class="btn btn-primary m-b-15"
									data-type="prompt">Add grammar</button>
								<div class="table-responsive" style="padding-top: 8px;"> 
									<table  class="table table-bordered table-hover table-striped" id="addrowExample">
										<thead>
											<tr>
												<th>Position</th>
												<th>Level</th>
												<th>Structure</th>
												<th>Meaning</th>
												<th>Actions</th>
												<th>Example</th>
											</tr>
										</thead>
										<tbody>											
											<% grammars.forEach(function(grammar,index) { %>												
											<tr class="gradeA">
												<td><%= index + 1 %></td>
												<th><%= grammar.level %></th>
												<td><%= grammar.content %></td>
												<td><%= grammar.mean %></td>
												<td class="actions">
													<button	
														class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
													    hidden><i
														class="fa fa-pencil" aria-hidden="true"></i></button>
													<button
														class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
														data-toggle="tooltip" data-original-title="Discard" hidden><i
														class="fa fa-times-circle" aria-hidden="true"></i></button>
												</td>
												<td>												
													<button
														data-target="#dialog-g-<%= grammar._id %>"
														class="btn btn-success"
														data-toggle="modal" data-type="prompt" >View Detail</button>													
												</td>
											</tr>
													<% include ../learning/dialog-grammar-detail.ejs%>												
											<% }); %>

											<% include ../learning/dialog-grammar-example.ejs%>
										</tbody>
										<tfoot>
											<tr>
												<th>Position</th>
												<th>Level</th>
												<th>Structure</th>
												<th>Meaning</th>
												<th>Actions</th>
												<th>Example</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- End table  -->

	</div>
	<% include ../learning/dialog-grammar-add.ejs%>
</div>

<% include ../footer.ejs %>