<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title"><%=texts.LEARN%></h3></div>
	
	<div class="list-group">
	 <a class="list-group-item<%- menu == 'questions' ? ' active' : ''%>" href="/learning/questions"><%=texts.QUESTIONS%></a>
	 <a class="list-group-item<%- menu == 'grammar' ? ' active' : ''%>" href="/learning/grammar"><%=texts.GRAMMAR%></a>
	 <!-- <a class="list-group-item<%- menu == 'emails' ? ' active' : ''%>" href="/questions/emails"><%=texts.GRAMMAR%></a> -->
	</div>
	
</div>